.events-poster {

    // .violet-outer {
    //     padding-top: 120px;
    // }
    @media screen {
        @media (min-width: 1200px) {
            h3 {
                padding-bottom: 80px;
            }
        }
    }


    .custom-select-wrapper {
        width: calc(100% - 14vw);
        margin: 0 auto;
        margin-top: 60px;

        @media screen {
            @media (max-width: 1499px) {
                width: calc(100% - 10vw);
            }

            @media (max-width: 1199px) {
                width: 100%;
                margin-top: 40px;
            }
        }
    }

    .select2-container {
        min-width: 200px;

        @media screen and (max-width: 767px) {
            min-width: auto;
            width: 100%;
        }
    }

    .slider-date-wrapper {
        width: calc(100% - 14vw);
        margin: 0 auto;
        // padding: 0 7vw;

        @media screen {
            @media (max-width: 1499px) {
                width: calc(100% - 10vw);
            }

            @media (max-width: 1199px) {
                width: 100%;

                .slider-date-container {
                    margin: 0 -40px;
                    padding: 0 40px;
                }

                .slider-navigation {
                    display: none;
                }
            }

            @media (max-width: 767px) {
                .slider-date-container {
                    margin: 0 -20px;
                    padding: 0 20px;
                }
            }
        }
    }

    .slider-wrapper:not(.slider-date-wrapper) {
        margin-top: 60px;
        // position: relative;

        @media screen {
            @media (max-width: 1199px) {
                margin-top: 40px;

                .swiper-slide {
                    width: auto !important;
                }

                >.slider-slide_item,
                >.slider-slide_item.-w-50 {
                    width: 100%;
                    min-width: auto;
                    max-width: none;
                    margin-bottom: 20px;
                    position: relative;
                    z-index: 2;

                    .title {
                        min-height: auto;
                    }
                }

                .slider-slide-bg {
                    height: 35vw;
                }
            }

            @media (max-width: 767px) {

                .slider-slide-bg {
                    height: 43vw;
                }
            }
        }

        .slider-btn {
            margin-top: -20px;

            @media screen {
                @media (max-width: 1199px) {
                    display: none;
                }
            }
        }

    }

    .slider-container-events {
        margin: -30px;
        padding: 30px;

        @media screen {
            @media (min-width: 1200px) {
                .swiper-slide:not(.swiper-slide-active) .slider-slide {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            @media (max-width: 1199px) {
                margin: -30px -40px;
                padding: 30px 40px;
            }

            @media (max-width: 767px) {
                margin: -30px -20px;
                padding: 30px 20px;
            }
        }
    }

    .slider-slide {
        gap: 20px;
        row-gap: 60px;
        transition: $transition;

        @media screen {
            @media (max-width: 1199px) {
                flex-wrap: nowrap;
            }
        }
    }

    .slider-slide_item {
        @include flex-column;
        /* flex: 1; */
        flex: 1;
        min-width: calc(33.1% - 11px);
        max-width: calc(33.1% - 10px);
        color: $color-black-text;
        transition: $transition;
        min-height: 25vw;

        // max-width: calc(25% - 15px);
        &:hover,
        &:active {
            transform: scale(0.97);
        }

        .slider-slide-bg {
            width: 100%;
            height: 15.5vw;
            @include bg-style;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
        }

        .slider-slide-descript {
            padding: 30px 54px 0 30px;
            // padding-bottom: 20px;
            width: 100%;
            @include flex-column;
            gap: 16px;

            @media screen {
                @media (max-width: 1199px) {
                    padding-top: 20px;
                    padding-right: 30px;
                    padding-left: 10px;
                }

                @media (max-width: 767px) {
                    flex: 1;
                }
            }

            span {
                display: block;
            }

            .title {
                font-size: 1.1rem;
                font-weight: 600;
                min-height: 5.2vw;
                width: 100%;

                @media screen {
                    @media (max-width: 1439px) {
                        min-height: 9vw;
                    }

                    @media (max-width: 1199px) {
                        font-size: 1.2rem;
                    }

                    @media (max-width:767px) {
                        font-size: 1rem;
                    }
                }
            }

            .other-info {
                font-size: .75rem;
                font-weight: 500;
                width: 100%;
                min-height: 2.2vw;

                @media (max-width: 767px) {
                    margin-top: auto;
                }
            }

            @media screen and (min-width: 1500px) {}
        }

        &.-w-50 {
            flex-grow: 2;
            min-width: calc(50% - 10px);
            max-width: calc(50% - 10px);

            &:hover,
            &:active {
                transform: scale(0.98);
            }
        }

        @media screen {
            @media (max-width: 1199px) {

                &,
                &.-w-50 {
                    min-width: auto;
                    max-width: none;
                    width: 50vw;
                    flex: none;
                    flex-grow: initial;
                    min-height: auto;
                }
            }

            @media (max-width: 767px) {

                &,
                &.-w-50 {
                    width: 60vw;
                    flex: none;
                    @include flex-column;
                }
            }
        }
    }

    .btn-wrapper {
        @include flex-block;
        justify-content: center;
        margin-top: 60px;

        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }
}


.slider-date-wrapper {

    .slider-date-slide {
        width: auto !important;
    }

    .date-outer {
        @include flex-column;
        gap: 10px;

        >span {
            display: block;
            font-size: .75rem;
            text-transform: uppercase;
            font-weight: 500;
            // padding-bottom: 10px;
        }
    }

    .dates-elems {
        gap: 0 1vw;

        @media screen and (max-width: 1199px) {
            gap: 0 2vw;
        }

        @media screen and (max-width: 767px) {
            gap: 0 5vw;
        }
    }

    .date-elem {
        @include flex-block;
        @include flex-column;
        gap: 10px;
        align-items: center;
        // justify-content: center;
        color: $color-black-text;
        font-weight: 600;
        font-size: .9rem;
        // padding-bottom: 26px;
        position: relative;

        @media screen and (max-width: 1199px) {
            font-size: 1rem;
        }

        &:after {
            content: attr(data-after);
            display: block;
            font-weight: 500;
            font-size: .6rem;
            // width: 100%;
            height: 15px;
            color: $color-black-text;

            @media screen and (max-width: 1199px) {
                font-size: .8rem;
            }
        }

        &.-weekend:after {
            color: #FA003F;
        }
    }
}